<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <title> Calculator </title>
</head>

<body>

    <h1> Calculator </h1>
 
    <form action="/" method="post">
        <input type="text" name="num1" placeholder=" First Number ">
        <input type="text" name="num2" placeholder=" Second Number ">
        <button type="submit" name="submit"> Calculate </button>
    </form>

    <!--
    <div class="container">
        <div class="calculator">
            <div class="calculator_display">0</div>
            <div class="calculator__keys">
                <button class="key--operator" data-action="add">+</button>
                <button class="key--operator" data-action="subtract">-</button>
                <button class="key--operator" data-action="multiply">&times;</button>
                <button class="key--operator" data-action="divide">รท</button>

                <button class="number one">1</button>
                <button class="number two">2</button>
                <button class="number three">3</button>
                <button class="number four">4</button>
                <button class="number five">5</button>
                <button class="number six">6</button>
                <button class="number seven">7</button>
                <button class="number eight">8</button>
                <button class="number nine">9</button>
                <button class="number zero">0</button>
    <button class="number decimal" data-action="decimal">.</button>
    <button class="number clear" data-action="clear">DEL</button>
    <button class="equal" data-action="calculate">=</button>
    </div>
    </div>
    </div>
    -->
</body>

</html>